@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, main, #root {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-color: #838383;
}

.App {
  width: 95%;
  margin: 4rem 3rem;
}

.App > h1 {
  text-align: center;
  margin: 1rem 0;
}

.Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #444;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #333333;
}

.Card--text h1 {
  color: #bea24b;
  font-weight: bold;
}

.Card--button button {
  background: #f5f6f7;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.Card--button__delete {
  border: 1px solid #ca0000;
  color: #ca0000;
}

.Card--button__done {
  border: 1px solid #00aa69;
  color: #00aa69;
  margin-right: 1rem;
}

.checkBox {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
}

.Autor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #bea24b;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #333333;

  .text {
    color: #444;
  }
}

.modal-title, .modal-body {
  color: black;
}

.modal-dialog {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
}

.modal-content {
  margin: 0 auto;
}

.clearInput {
  position: absolute;
  border: none;
  background: none;
  top: 19%;
  right: 10%;
}

.line-through {
  text-decoration: line-through;
  color: #777 !important;
}

.hide-button {
  display: none;
}

.sideBarOpened {
  position: fixed;
  width: 16vw;
  height: 110vh;
  background-color: #343A40;
  margin: -4rem 0 0 -2.5vw;
  padding: 3rem 0 1rem 1rem;
  transition: 0.5s;

  .closeIcon {
    color: white;
    font-size: xx-large;
    position: absolute;
    right: 1rem;
    top: 0;
    cursor: pointer;
  }

  .SB-Parent {
    font-size: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
  }
  .SB-Child {
    color: gray;
    font-size: 1.1rem;
    padding-left: 3rem;
    cursor: pointer;
  }
  .SB-chevron {
    position: absolute;
    right: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid transparent;
  }
  .SB-chevron:hover {
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 15%;
    padding: .5rem;
  }
}

.sideBarClosed {
  position: fixed;
  width: 50px;
  height: 110vh;
  background-color: #343A40;
  margin: -4rem 0 0 -2.5vw;
  padding-top: 3rem;

  .closeIcon {
    color: white;
    font-size: xx-large;
    position: absolute;
    right: 50%;
    top: 0;
    cursor: pointer;
    transition: 0.5s;
  }

  .SB-Parent {
    margin-left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;

    i {
      visibility: visible;
      cursor: pointer;
    }
  }
  .SB-Child {
    color: gray;
    visibility: visible;
    cursor: pointer;
  }
}

.closeIcon:hover {
  color: white;
}

