@use "./styles/mixin" as mixin;
@import "./styles/_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/lucida-handwriting-std");

body, html, main, #root {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-color: var(--background);
}

.App {
  width: 97%;
  margin: 4rem 3rem;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--anchor);
}

::selection {
  color: white;
  background: var(--anchor);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #444;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #333333;
}

.checkBox {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
}

.clearInput {
  position: absolute;
  border: none;
  background: none;
  top: 19%;
  right: 10%;
}

.customLink {
  text-decoration: none;
  color: white;
  user-select: none;

  &:hover {
    color: var(--anchor) !important;
    text-decoration: none;
    border-color: var(--anchor) !important;
  }

  &.activeLink {
    color: var(--anchor);
  }
}

.showHideColumns {
  border: solid 1px black;
  position: absolute;
  z-index: 98;
  background: white;
  color: black;
  right: 6.5rem;
  top: 7rem;
  padding: 1rem;
  max-height: 25rem;
  overflow: auto;

  input {
    margin-right: 1rem;
  }
}

.shown {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.showHideRow, label, .hideShowCheckbox {
  cursor: pointer;

  &:hover {
    color: var(--anchor);
  }
}

.hideShowCheckbox {
  appearance: none;
  -webkit-appearance: none;
  color: gray;
  width: 2rem;
  font-size: 1.5rem;
  border: transparent;
  border-radius: 0.1rem;
}

.hideShowCheckbox::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "᭸";
  width: 2rem;
  height: 2rem;
}

.hideShowCheckbox:checked::before {
  content: "👁";
  width: 2rem;
  height: 2rem;
}

.hideShowCheckbox:hover {
  color: darkslategray;
}

.trueMark::after {
  content: "\2713"
}

.falseMark::after {
  content: "\2716"
}

.detailHrefs {
  text-align: left;
  pointer-events: auto;
}

.chip {
  white-space: wrap !important;
  color: white;
}

.moveToLeft {
  margin-right: 3rem !important;
}

.h6MaterialClone {
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  color: rgba(0, 0, 0, 0.87);
  margin-left: .5rem;
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.hiddenId {
  font-size: 0.3rem;
  color: transparent;
}

.customModal {
  @include mixin.box-shadow();
  z-index: 1002;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 6px;
  position: relative;
  bottom: 70px;
  color: black;
  min-width: 250px;
  max-width: 80vw;
  //min-height: 300px;
  max-height: 80vh;

  &Body {
    padding: 1rem;
    max-height: calc(80vh - 2.1rem - 2.1rem);
    max-width: 60vw;
    overflow: auto;
  }

  &Wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    z-index: 1001;
  }

  &Header {
    padding: 0.3rem 1rem 0.3rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: var(--anchor);
    border-bottom: 1px solid lightgray;

    .closeModal {
      background-color: transparent;
      border: none;
      font-size: 2rem;
      color: var(--anchor);
      cursor: pointer;
    }
  }

  &Footer {
    padding: 0.3rem 1rem 0.3rem 1rem;
    width: 100%;
    align-items: center;
    font-size: 1.5rem;
    color: var(--anchor);
    border-top: 1px solid lightgray;

    .alert {
      font-size: 1rem;
      margin-top: 1rem;
    }

    .buttons {
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 0.5rem;
      }
    }
  }
}

.input-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  overflow: visible;
}

input, textarea {
  &:focus ~ .floating-label,
  &:not(:placeholder-shown) ~ .floating-label,
  & ~ .active {
    top: -0.2rem;
    left: 0.5rem;
    line-height: 11px;
    font-size: 11px;
    opacity: 1;
    background: white;
    padding: 0 0.2rem;
  }

  &:invalid {
    outline: 2px dotted red;
  }
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 1rem;
  top: 20%;
  transition: 0.2s ease all;
  color: gray;
}


/* WYSWIG editor */
.rsw-editor:has(.rsw-ce[contenteditable="false"]) {
  border: none;

  .rsw-ce {
    padding: 0 !important;
  }
}

.rsw-ce img {
  width: 100%;
}

.dashboardContainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* 2 rows of equal height */
  grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
  gap: 10px;
  width: 100%;
  height: 42rem;
  padding: 1rem;
}

.dashboardItem {
  color: black;
  background-image: radial-gradient(circle, var(--menu) 0.5px, transparent 0.5px),
  radial-gradient(circle, var(--menu) 0.5px, transparent 0.5px),
  radial-gradient(circle, var(--menu) 0.5px, transparent 0.5px),
  radial-gradient(circle, var(--menu) 0.5px, transparent 0.5px); // dotted border
  background-position: left top, right top, left bottom, left top;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: 17px 1px, 1px 17px, 17px 1px, 1px 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  line-height: 0.75rem;
  height: 40vh;
  overflow-x: auto;
  overflow-y: auto;
}

.tableLangStats {
  .tableSection {
    height: 50%;
    max-height: 20vh;
    margin-bottom: 1rem;
    overflow-y: scroll;
  }

  .chartSection {
    height: 47%;
  }
}

@media (max-width: 1024px) {
  .dashboardContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .dashboardItem {
    height: 20rem;
    justify-content: unset;
  }
}

.firstCell {
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
}

/* Tabs container styles */
.tabs-container {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

/* Tabs header styles */
.tabs-header {
  display: flex;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  overflow: auto;
  overscroll-behavior: contain;
}

/* Individual tab button styles */
.tab-button {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  background: none;
  border: none;
  border-right: 1px solid #ddd;
  cursor: pointer;
  font-size: 14px;
  color: var(--anchor);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.tab-button:last-child {
  border-right: none;
}

.tab-button:hover {
  background-color: #e9ecef;
}

.tab-button.active {
  background-color: #fff;
  font-weight: bold;
  color: #495057;
  cursor: default;
}

/* Tab content styles */
.tabs-content {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.tab-panel {
  animation: fadeIn 0.3s ease;
}

/* Optional animation for smoother transitions */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

//Login
.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;

  .passwordToggle {
    position: absolute;
    right: 0;
    top: calc((24px - (1.5rem / 2)) / 2); // 24px - height of input
    cursor: pointer;
    width: 3rem;
    display: flex;
    justify-content: center;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--anchor);
    font-size: 1.5rem;
    padding: 0;
    margin-top: 0;
    transform: scaleX(-1); //mirror view
  }
}

// this is here, because it is used in both elements
.header {
  .activateUsers {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
}

.sideBar {
  .activateUsers {
    display: none;
  }
}

// ^^^

@media screen and (width <= $mobile-width) {
  .App {
    margin: 3rem 3rem 0 0;
  }

  .header {
    margin-left: 3rem; // because of sidebar

    .activateUsers {
      display: none !important;
    }
  }

  .sideBar {
    .activateUsers {
      margin-top: 3rem;
      display: flex !important;
      flex-direction: column !important;
      align-items: center;
      width: 100%;
      font-size: 1.2rem;
      line-height: 2.5rem;
    }
  }

  .customModal {
    max-width: 90vw;

    &Body {
      max-width: 90vw;
    }
  }
}