@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
:root {
  --background: #EEEEEE;
  --menu: #222831;
  --anchor: #00ADB5;
}

* {
  margin: 0;
  padding: 0;
}

body, html, main, #root {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-color: var(--background);
}

.App {
  width: 97%;
  margin: 4rem 3rem;
}

.tooltipA {
  max-width: 30vw;
  font-size: 1rem !important;
}

.Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #444;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #333333;
}

.checkBox {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
}

.AutorTable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--anchor);
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #333333;

  .text {
    color: #444;
  }
}

.quote_container {
  padding: 10px;
  column-count: 4;
  gap: 10px;
}

.Quote {
  padding: 10px;
  color: black;
  border-radius: 10px;
  font-size: 110%;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 4px;
  break-inside: avoid;
  margin-bottom: .4rem;

  .Card--button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  .quoteOwner {
    font-size: 0.85rem;
    filter: brightness(0.85);
  }
}

.LP {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: sienna;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #333333;
}

.modalBgr {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalBody {
  background-color: #fefefe;
  position: fixed;
  z-index: 20;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  left: 20%;
  border-radius: 5px;
}

.modal-dialog {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
}

.modal-footer {
  padding: 1rem 0.8rem 1rem 1rem !important;
}

.modal-content {
  width: 170% !important;
  margin: 0 auto;
}

.modal-title {
  color: var(--menu);
}

.clearInput {
  position: absolute;
  border: none;
  background: none;
  top: 19%;
  right: 10%;
}

.line-through {
  text-decoration: line-through;
  color: #777 !important;
}

.hide-button {
  display: none;
}

.sideBar {
  position: fixed;
  height: 110vh;
  background-color: var(--menu);
  margin: -4rem 0 0 -3rem;
  padding: 3rem 0 1rem 1rem;
  transition: 0.5s;
  z-index: 100;
  &Opened {
    position: fixed;
    width: 10vw;
    height: 110vh;
    background-color: var(--menu);
    margin: -4rem 0 0 -3rem;
    padding: 3rem 0 1rem 1rem;
    transition: 0.5s;
    z-index: 100;

    .closeIcon {
      color: white;
      font-size: xx-large;
      position: absolute;
      right: 1rem;
      top: 0;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }

    .SB-Parent {
      font-size: 1.5rem;
      margin-top: 1rem;
      cursor: pointer;
    }

    .SB-Child {
      color: gray;
      font-size: 1.1rem;
      padding-left: 3rem;
      cursor: pointer;
    }

    .SB-chevron {
      position: absolute;
      right: 0.5rem;
      padding: 0.5rem;
      cursor: pointer;
      border: 1px solid transparent;
    }

    .SB-chevron:hover {
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 15%;
      padding: .5rem;
    }
  }

  &Closed {
    position: fixed;
    width: 50px;
    height: 110vh;
    background-color: var(--menu);
    margin: -4rem 0 0 -3rem;
    padding-top: 3rem;
    z-index: 100;
  
    .closeIcon {
      color: white;
      font-size: xx-large;
      position: absolute;
      right: 50%;
      top: 0;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        color: white;
      }
    }
  
    .SB-Parent {
      margin-left: 1rem;
      font-size: 1.5rem;
      cursor: pointer;
  
      i {
        visibility: visible;
        cursor: pointer;
      }
    }
  
    .SB-Child {
      color: gray;
      visibility: visible;
      cursor: pointer;
    }
  }
  

}

.customLink {
  text-decoration: none;
  color: white;
  user-select: none;

  &:hover {
    color: var(--anchor) !important;
    text-decoration: none !important;
  }

  &.activeLink {
    color: var(--anchor) !important;
  }
}

.futureReports {
  position: absolute;
  top: 50%;
  right: 40%;
}

.autocomplete-result {
  list-style: none;
  margin-left: -1.9rem;

  span {
    margin-right: 1rem;
  }
}

.showHideColumns {
  border: solid 1px black;
  position: absolute;
  z-index: 100;
  background: white;
  color: black;
  right: 3rem;
  top: 12.5rem;
  padding: 1rem 1rem 0;

  input {
    margin-right: 1rem;
  }
}

.shown {
  visibility: visible;
}

.hidden {
  visibility: hidden !important;
}

.MuiPaper-root {
  margin-left: 0.5rem;
  background-color: var(--background) !important;

  tr:hover {
    background-color: var(--anchor);
    box-shadow: inset 1000rem 1em rgba(255, 255, 255, 0.6);
  }  
}

.MuiTableRow-footer:hover {
  background-color: var(--background) !important;
  box-shadow: none !important;
}

.MuiPaper-elevation2 {
  box-shadow: none !important;
}

.MuiTable-root {
  width: 99.7% !important;
}

.MuiTableCell-head, .MuiTableSortLabel-active{
  font-weight: bold !important;
  color: white !important;
  background-color: var(--anchor) !important;
}

.MuiTableSortLabel-icon {
  color: white !important;
}

.BookDetail {
  padding: 1rem;
}

.detailDimensions {
  margin-left: 2rem;
}

.trueMark::after {
  content: "\2713"
}

.falseMark::after {
  content: "\2716"
}

.detailHrefs {
  text-align: left;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(0, 1fr);
  gap: 0.5rem 1rem;
  grid-auto-flow: row;
  align-items: center;
}

.Nazov {
  grid-area: 1 / 1 / 2 / 3;
}

.Podnazov {
  grid-area: 1 / 3 / 2 / 3;
}

.Autor {
  grid-area: 2 / 1 / 3 / 4;
}

.Translator {
  grid-area: 3 / 1 / 4 / 1;
}

.Editor {
  grid-area: 3 / 2 / 4 / 2;
}

.Ilustrator {
  grid-area: 3 / 3 / 4 / 3;
}

.Edice {
  grid-area: 4 / 1 / 6 / 2;
}

.Name {
  grid-area: 4 / 1 / 5 / 2;
}

.No {
  grid-area: 5 / 1 / 6 / 2;
}

.Serie {
  grid-area: 4 / 2 / 6 / 3;
}

.NameS {
  grid-area: 4 / 2 / 5 / 3;
}

.NoS {
  grid-area: 5 / 2 / 6 / 3;
}

.ISBN {
  grid-area: 4 / 3 / 5 / 3;
}

.Page-no {
  grid-area: 5 / 3 / 6 / 3;
}

.Vydavatel {
  grid-area: 6 / 1 / 7 / 2;
}

.Rok {
  grid-area: 6 / 2 / 7 / 3;
}

.Krajina {
  grid-area: 6 / 3 / 7 / 3;
}

.Lokace {
  grid-area: 7 / 1 / 8 / 2;
}

.Mesto {
  grid-area: 7 / 1 / 8 / 2;
}

.language {
  grid-area: 7 / 3 / 8 / 3;
}

.Police {
  grid-area: 7 / 2 / 8 / 3;
}

.Vyska {
  grid-area: 8 / 1 / 9 / 2;
}

.Hrubka {
  grid-area: 8 / 2 / 9 / 3;
}

.Sirka {
  grid-area: 8 / 3 / 9 / 3;
}

.Hmotnost {
  grid-area: 9 / 2 / 10 / 3;
}

.Obsah {
  grid-area: 10 / 1 / 11 / 4;
}

.Poznamka {
  grid-area: 11 / 1 / 12 / 4;
}

.Precitane {
  grid-area: 12 / 1 / 13 / 2;
}

.Vlastnik {
  grid-area: 12 / 2 / 13 / 3;
}

.Ex-Libris {
  color: black;
  grid-area: 12 / 3 / 13 / 4;
}

.pic {
  grid-area: 13 / 1 / 14 / 2;
}

.DK {
  grid-area: 13 / 2 / 14 / 3;
}

.GR {
  grid-area: 13 / 3 / 14 / 4;
}

.errorAddBook {
  grid-area: 14 / 1 / 15 / 4;
}

.form-control-important {
  display: block !important;
  width: 100% !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #212529 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border-radius: 0.25rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.WAMuiChipInput-underline-14::before .WAMuiChipInput-underline-14::after {
  border-bottom: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  background-color: var(--menu);
  display: flex;
  align-items: center;
  z-index: 99;

  span {
    display: flex;
    color: lightgray;
    margin: 1rem;
    padding: 0 5px;
    border-radius: 3px;
    cursor: pointer;
  }

  .activeUser {
    font-weight: bold;
    color: white;
  }

  .customLink.appHeader {
    font-family: "Lucida Handwriting", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: var(--anchor);
    margin: 0 1rem;
    font-size: 2rem;

    &:hover {
      filter: brightness(1.2) !important;
      text-decoration: none !important;
    }
  }
}

.scrollToTop {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  font-size: 1rem;
  background-color: black;
  border: none;
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  z-index: 2;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
    &::after {
      color: var(--anchor);
    }
  }

  &::after {
    content: "▲";
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    left: 25%;
    position: absolute;
    top: 15%;
  }
}

.addQuote {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  font-size: 1rem;
  background-color: black;
  border: none;
  position: fixed;
  right: 1rem;
  top: 8vh;
  z-index: 2;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
    &::after {
      color: var(--anchor);
    }
  }

  &::after {
    content: '+';
    font-size: 2rem;
    position: absolute;
    margin-top: -1.6rem;
    margin-left: -0.6rem;
    color: white;
    font-weight: bold;
  }
}

.addBtnTable {
  background-color: black;
  border: none;
  color: white;
  position: fixed;
  right: 1rem;
  top: 8vh;
  height: 3rem !important;
  width: 3rem !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
    &::after {
      color: var(--anchor);
    }
  }

  &::after {
    content: '+';
    font-weight: bold;
    font-size: 2rem;
    margin-top: -0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.MuiIconButton-root:hover {
  background-color: transparent !important;
}

.moveToLeft {
  margin-right: 3rem !important;
}

//for Multiselect
.option {
  //background-color: var(--anchor) !important;
  &:hover {
    background-color: var(--anchor) !important;
  }
  &::selection {
    background-color: var(--anchor) !important;
  }
}

.h6MaterialClone {
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  color: rgba(0, 0, 0, 0.87);
  margin-left: .5rem;
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}