@import "variables";

.react-datepicker-popper {
  position: fixed !important;
  z-index: 100;
}

.autorDetail {
  display: flex;
  flex-direction: row;

  div {
    width: 50%;

    &:first-child {
      margin-right: 2rem;
    }
  }

  &:hover {
    background-color: #f1f1f1;
  }
}

.autorDetailTable {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 14px;

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

  tr {
    &:nth-child(even) {
      background-color: #f9f9f9;
    }

    &:hover {
      background-color: #f1f1f1;
    }
  }

  td::after {
    background-color: transparent !important; /* Remove background color */
  }
}

/* Base form styles */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  width: 100%;
}

.a-first-name {
  grid-area: 1 / 1 / 1 / 2;
}

.a-last-name {
  grid-area: 1 / 2 / 1 / 3;
}

.a-birth-date {
  grid-area: 2 / 1 / 2 / 2;
}

.a-death-date {
  grid-area: 2 / 2 / 2 / 3;
}

.a-nationality {
  grid-area: 3 / 1 / 3 / 2;
}

.a-role {
  grid-area: 3 / 2 / 3 / 3;
}

.a-note {
  grid-area: 4 / 1 / 4 / 3;
}

.a-date-picker-container {
  position: relative;

  .react-datepicker-wrapper {
    width: 100%;
  }
}

/* Clear input button styling */
.clearInput {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (width <= $mobile-width) {
  .autorDetail {
    flex-direction: column;

    div {
      width: 100%;

      &:first-child {
        margin-right: 0;
      }
    }
  }

  form {
    grid-template-columns: 1fr; /* Single column on mobile */
  }

  /* Make all items span the single column on mobile */
  form > div {
    grid-column: 1;
    grid-area: unset !important; //has to be important, because it's less specific than classes above
  }
}