@import "variables";

.l-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.l-title {
  grid-area: 1 / 1 / 2 / 2;
}

.l-subtitle {
  grid-area: 1 / 2 / 2 / 3;
}

.l-autor {
  grid-area: 2 / 1 / 3 / 3;
}

.l-speed {
  grid-area: 3 / 1 / 4 / 2;
}

.l-countLp {
  grid-area: 3 / 2 / 4 / 3;
}

.l-year {
  grid-area: 4 / 1 / 5 / 2;
}

.l-country {
  grid-area: 4 / 2 / 5 / 3;
}

.l-publisher {
  grid-area: 5 / 1 / 6 / 2;
}

.l-language {
  grid-area: 5 / 2 / 6 / 3;
}

.l-note {
  grid-area: 6 / 1 / 7 / 3;
}

@media screen and (max-width: $mobile-width) {
  form {
    grid-template-columns: 1fr !important;
  }

  form > div {
    grid-column: 1;
    grid-area: unset !important;
  }
}