@import "variables";

@media screen and (width <= $mobile-width) {
  .headerTitleAction {
    position: relative;
    flex-direction: column !important;
    padding-bottom: 5rem;
  }

  .tableActionsRight {
    display: flex;
    flex-direction: column !important;
  }

  .bookTableAction {
    position: absolute;
    right: 0;
  }

  .showHideColumns {
    right: 3.5rem;
    top: 9rem;
  }

  .serverPaginationTable {
    display: block;
    width: 100%;
    margin-bottom: 6rem;

    thead, tbody, tr {
      display: block;
      width: 100%;
      height: unset !important;
    }

    .tableHeader {
      tr {
        display: flex;
        flex-wrap: wrap;
      }

      th {
        display: flex;
        justify-content: flex-start;
        flex: 1 1 auto;
        width: 50% !important;
        min-width: unset !important;
        box-sizing: border-box;
      }

      .TSPtitle {
        width: 100% !important;
      }
    }

    tbody {
      tr {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 2px solid var(--anchor);
      }

      td {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 auto;
        width: 50%;
        box-sizing: border-box;
        border-bottom: 1px solid #eee;
        min-height: 2rem !important;
        text-overflow: ellipsis;
        position: relative;

        &:not(:first-child)::after {
          height: 1rem;
        }
      }
    }

    .TSPtitle {
      min-width: 100%;
    }

    .actionsRow button {
      font-size: 1.5rem !important;
    }
  }

  .tableNavigationRow {
    flex-direction: column !important;
    height: 6rem !important;
    justify-content: center;
    align-items: center;
    padding: 0 !important;

    .pageControl {
      margin-bottom: 1rem;
    }

    .otherTableControl {
      margin-bottom: 1rem;

      * {
        margin-right: 1rem !important;
      }

      .pageSelectorLabel {
        display: none !important;
      }
    }
  }
}

.serverPaginationTable {
  color: black;
  width: 100%;

  .tableHeader {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    th {
      border: 1px solid var(--anchor);
      background-color: var(--anchor);
      color: white;
      max-height: 2rem !important;
      padding: 0 0.5rem;
    }

    // it's here becuase of Dimensions
    th[colspan]:not([colspan="1"]) { // select element that has colspan and it is not 1
      vertical-align: middle;
      text-align: center;
    }

    .TSP {
      &autorsFull {
        min-width: 12rem;
      }

      &title {
        min-width: 15rem;
      }

      &autorsFull {
        min-width: 12rem;
      }

      &actionsRow {
        width: 5rem;
      }
    }
  }

  tr {
    height: 4rem;
    pointer-events: auto;

    &:hover {
      background-color: var(--anchor);
      box-shadow: inset 1000rem 1em rgba(255, 255, 255, 0.6);
    }
  }

  td {
    border-bottom: 2px solid lightgray;
    padding: 0 0.5rem;
    position: relative;
    pointer-events: auto;

    &:not(:first-child)::after {
      //line in the middle of the cell
      content: '';
      position: absolute;
      height: 1.8rem;
      width: 1px;
      background-color: lightgray;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  .TSP {
    &exLibris, &height, &width, &depth, &numberOfPages, &createdAt, &updatedAt, &countLp, &speed, &dateOfBirth, &dateOfDeath {
      display: table-cell;
      text-align: center;
    }

    &actionsRow {
      width: 5rem;
    }
  }
}

/* Rest of your CSS remains unchanged */
.headerTitleAction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 4rem;
  color: black;
  height: 2rem;
  margin-bottom: 1rem;

  .filtersBtn {
    margin-left: 2rem;
    border: transparent;
    padding: 0;
    cursor: pointer;

    &:hover {
      color: var(--anchor);
    }
  }
}

.tableActionsRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pageSelector {
  color: black;
  font-size: 1.25rem;
  padding: 0 1rem;
  cursor: pointer;

  &.current {
    font-weight: bold;
    color: var(--anchor);
    cursor: default;
  }
}

.tableNavigationRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 3rem;
  color: black;
  background: var(--background);
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 2.5rem;
  z-index: 2;
  width: 100%;

  .pageInput {
    width: 3rem;
    margin-right: 1rem;
    padding: 0;
    text-align: center;
  }

  .pageControl {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .otherTableControl {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      margin-right: 1rem;
    }
    select {
      margin-right: 2rem;
    }
  }
}

button:focus {
  outline: none !important;
}

.tabNav {
  color: var(--anchor);
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;

  &:hover {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: rgba(255, 255, 255, 1);
    color: #64bb5d;
  }

  &:disabled {
    color: lightgray;
    cursor: not-allowed;
  }
}

.searchWrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 22px;
  padding: 5px;
  position: relative;
}

.searchTableWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  .searchBookInput {
    width: 100%;
    border-radius: 4px;
    padding: 5px 5rem 5px 10px; // space for buttons
    box-shadow: none;
  }

  .searchBtns {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 0.3rem;

    button,
    .isbnScanner {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: black;
      right: 1.5rem;

      &:hover {
        color: var(--anchor);
      }
    }
  }
}

.bookTableAction {
  transform: rotate(90deg);
  font-size: 1.5rem;
  cursor: pointer;

  &:hover {
    color: var(--anchor);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  user-select: none;
}

.actionsRow {
  width: 5rem;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      color: var(--anchor);
    }
  }
}